// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";
@import 'octicons';
@import "octicon-utf-codes";
@import "octicon-mixins";

.slack-panel{
  border-left: 1px solid @base-border-color;
}

.slack-wrapper{
  height: 100%;
  width: 100%;
  &.chat{ width: 400px; }
}

#title {
  height: 28px;
  margin: 10px 0;
  padding-right: 30px;
  h1 {
    height: inherit;
    display: inline;
    vertical-align: middle;
  }
  img {
    height: inherit;
    margin: 0 10px;
  }
}

ul {
  list-style: none;
  padding: 0;
  li {
    &:hover{ background-color: @background-color-highlight; }
    &.action{
      text-align: center;
    }
    .indicator{ margin-right: 5px; }
    vertical-align: middle;
    font-size: 14px;
    height: 24px;
    line-height: 24px;
    margin: 5px 0;
    padding: 0 10px;
    cursor: pointer;
  }
}

.dot {
  color: @text-color-subtle;
  .octicon(primitive-dot, 1em);
  .active {
    color: #94E864;
  }
}
